<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
rel='stylesheet'> 
    <link rel="stylesheet" href="/static/loginpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <main class="container">
        <form action="/login" method="post">
            
            <img src="/static/Logoigreja.png" alt="LOGO">

            <div class="input-box">
                <label for="email"></label>
                <input type="email" name="email" id="email_usuario" placeholder="Usuário">
                <i class="bx bxs-user"></i> 
            </div>

            <div class="input-box">
            <label for="password"></label>
            <input type="password" name="senha" id="senha_usuario" placeholder="Senha">
            <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox">
                    Lembrar senha
                </label>
                <a href="#">Esqueci a senha</a>
            </div>

            <button type= "submit" class="login">Login</button>

            <div class="register-link">
                <p>Não tem conta? <a href="/register">Cadastre-se</a></p>
            </div>

        </form>
    </main>
</body>
</html>