<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
        <form action="/register" method="post">

        <label for="nome">Nome Completo:</label>
        <input type="text" name="nome" id="nome_usuario">

        <br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email_usuario">

        <br><br>

        <label for="password">Senha:</label>
        <input type="password" name="senha" id="senha_usuario">

        <br><br>

        <button type= "submit">Enviar</button>

        <br><br>

        <p>Já tem conta? <a href="/login">Faça login</a></p>
    </form>
</body>
</html>